In [101]:
import pandas as pd
import os
import string

In [102]:
fake_jobs_pd = pd.read_csv("data_source/fake_job_postings.csv")

In [103]:
fake_jobs_pd.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [104]:
ds_jobs_pd = pd.read_csv("data_source/data_scientist_united_states_job_postings_jobspikr.csv")

In [105]:
ds_jobs_pd.head()

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Candidates should have the following backgroun...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,Senior Data Scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN

In [106]:
#Get only Fraud records
if fake_jobs_pd.index.name != 'fraudulent':
   fake_jobs_pd.set_index("fraudulent", inplace = True)
fake_jobs_pd = fake_jobs_pd.loc[1]

In [299]:
#Count words in fake job postings
#Create dict to collect word count
word_count = {}
for description in fake_jobs_pd['description']:
 for word in str(description).split():
    if word_count.get(word, 0) != 0:
         word_count[word] += 1  
  #       print(word_count[word])
    else:
         word_count[word] = 1
  #      print(word_count[word])
zz = pd.DataFrame(sorted(word_count.items(), key=lambda kv: kv[1], reverse=True))
zz.rename(columns = {0:'word', 1:'counter'}, inplace = True) 
#drop prepositions and other not significant words

zz.drop(zz[zz['word'] == 'with'].index, inplace = True) 
zz.drop(zz[zz['word'] == 'that'].index, inplace = True)
zz.drop(zz[zz['word'] == 'from'].index, inplace = True)
zz.drop(zz[zz['word'] == 'have'].index, inplace = True)
zz.drop(zz[zz['word'] == 'your'].index, inplace = True)
zz.drop(zz[zz['word'] == 'this'].index, inplace = True)
zz.drop(zz[zz['word'] == 'their'].index, inplace = True)
zz.drop(zz[zz['word'] == '&amp;'].index, inplace = True)
zz.drop(zz[zz['word'][:].str.len() < 4].index, inplace = True)

zz['counter'][0:30].sum()
zz[0:30]

#type(mm)

           word  counter
11         work      804
18         will      600
27      looking      396
30         team      345
31        other      330
32       within      321
33   experience      311
34     customer      308
35      project      304
36     position      302
41      company      272
43      support      260
45      product      249
46         data      249
48     business      246
49         This      237
50       people      234
51       skills      233
53   management      216
54      provide      212
55    including      206
56  information      205
57      service      201
58         time      195
59    technical      189
60      quality      189
62    equipment      186
63    customers      183
64     products      180
65       design      180

In [294]:
for i in fraud_pd:
 print(i)

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [58]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [59]:
len(x)

4